@model Almoxarifado.Application.ViewModels.LocalMedicamentoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocalMedicamentoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeLocalMedicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeLocalMedicamento)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.subLocalMedicamento)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.subLocalMedicamento)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idLocalMedicamento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
