@model Almoxarifado.Application.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Create";
}

<center><h2>Cadastro de usuario</h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <label class="control-label col-md-10"><h5>Nome do usuario </h5></label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.nomeUsuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o nome do usuario" } })
            @Html.ValidationMessageFor(model => model.nomeUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-10"><h5>Login do usuario </h5></label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.loginUsuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o login do usuario" } })
            @Html.ValidationMessageFor(model => model.loginUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-10"><h5>Senha do usuario </h5></label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.senhaUsuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite a senha do usuario" } })
            @Html.ValidationMessageFor(model => model.senhaUsuario, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="div-select">
        <label class="control-label col-md-10"><h5>Função do usuario</h5></label>
        <div class="box">
            @Html.DropDownList("idRole", new SelectList(ViewBag.Roles, "idRole", "nomeRole"))
            @Html.ValidationMessageFor(model => model.role.nomeRole, "", new { @class = "div-select" })
        </div>
        </div>
    </div>
    <br />



    <div class="form-group">
    <label class="control-label col-md-10"><h5>Status de trabalho</h5></label>
    <div class="col-md-3">
        <div class="checkbox">
            <label class="form-control">
                @Html.EditorFor(model => model.flAtivo)   
                Ativo
            </label>
            
        </div>
    </div>
</div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" class="btn btn-primary btn-user btn-block" value="Cadastrar" />
            </div>
        </div>
    <div class="col-md-offset-2 col-md-2">
        <div class="btn btn-primary btn-user btn-blocks">
            @Html.ActionLink("Voltar", "Listar", new { @class = "col-md-offset-2 col-md-2" })
        </div>
    </div>
}
