@model Almoxarifado.Application.ViewModels.CategoriaMedicamentoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoriaMedicamentoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeCategoriaMedicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeCategoriaMedicamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCategoriaMedicamento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
